body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(asset/bgBimaSakti7.0.png);
  background-attachment: fixed;

  color: white;
}
body .container {
  background-color: #1a1a40;
  border-radius: 10px;
  border-top: 5px solid #270082;
  font-family: Arial, Helvetica, sans-serif;
}
.subtitle-1 {
  border-radius: 1.5rem;
  background-color: #270082;
  width: fit-content;
  padding: 5px 20px;
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* font-weight: ; */
  margin-left: -9px;
}
.note {
  font-style: italic;
  opacity: 0.6;
}
